* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: neu;
}

html,body{
  height: 100%;
  width: 100%;
}

#page1{
  height: 100vh;
  width: 100%;
  background-color:#EEEEEA;
  position: relative;
}
#nav{
  height: 100px;
  width: 100%;
  background-color: red;
}